<div class="dynamic-field form-input input-group" 
[formGroup]="group">

<label>{{ config.label }}</label>


   <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
        
      </div>
      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
          <img  [attr.data-src]="config.value" >
      </div>
      <div>
        <span class="btn btn-default btn-file">
          <span class="fileinput-new">Select image</span>
          <span class="fileinput-exists">Change</span>
          <input type="file"  [attr.value]="config.value" [formControlName]="config.name">
        </span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div>
 


<!--     <div class="form-group">
        <div class="form-line">
            <label>{{ config.label }}</label>
            
                <img [attr.src]="config.value" class="img-responsive thumbnail" alt="">
                <br>
            
            <input type="file" 
            [formControlName]="config.name" 
            [attr.value]="config.value" class="" >
        </div>
    </div> -->



    
</div>


