
<div class="col-md-12 protein-listing resource-post container-search">
        
        <div class="row">
        
          <div class="col-md-12 ">
        
        <div class="row">
        
        <div class="col-md-5">
          
            <a  class="thumbnail pull-left">
              <img src="{{protein.image}}" alt="">
              
            </a>
            <div style='float: left;
            margin: 0 0 0 8px;' class="pull=left">
                <h4><a (click)="selectProtein(protein)" >{{protein.name}}</a></h4>
        
                <ul class="post-details">
                  <li> <b class="pull-left">Type:</b> <a >{{protein.type}}</a></li>

                  <li><a >12 Resources</a> </li>
                </ul>
                
              </div>
        </div><!-- END .span -->
        
        
        <div class="col-md-5">
              <p class="text-muted"> {{protein.description}} </p>
        </div><!-- END .span -->
        
        
        <div class="col-md-2">
        
        
 <!--              <ul class="post-details language-list">
                  <li> <span class="label">php</span> <span class="label">SQL</span>
                  </li>         
                </ul> -->
                
        </div><!-- END .span -->
        
        

        
        </div><!-- END .row --> 
        
        
        
          </div><!-- END col-md-12 --> 
        </div><!-- END .row --> 
        
        
        </div>